<!-- Reviews -->
<section class="section section--centered js-section" id="reviews">
  <div class="section__container">
    <div class="slider" id="slider">
      <div class="slider__container">
        <ul class="slider__items-wrapper">
          <li class="slider__item active" id="slide_1">
            <div class="review">
              <blockquote class="review__body">
                Por parte del equipo de Coldbridge el trato y la profesionalidad fue inmejorable. Realizaron un trabajo muy cercano e intentaron conocer detalladamente qué queríamos transmitir, para luego, trabajar codo con codo hasta dar con una representación acorde a nuestra empresa.
              </blockquote>
              <cite class="review__cite">F. Hidabe - Fundador de <i>Sopinet Software</i></cite>
            </div>
          </li>

          <li class="slider__item" id="slide_2">
            <div class="review">
              <blockquote class="review__body">
                Excelente profesional Laura. Gracias por su tenacidad y dedicación. Estoy muy satisfecha con el trabajo realizado. Ha sido un placer, el proceso y el resultado.
              </blockquote>
              <cite class="review__cite">Pilar Jurado - Directora General de <i>Aprender Pensando</i></cite>
            </div>
          </li>

          <li class="slider__item" id="slide_3">
            <div class="review">
              <blockquote class="review__body">
                El diseño que han creado para Dolzana es maravilloso, nos sentimos muy identificados con el logo, estamos muy orgullosos de él y de lo que significa, muchas gracias.
              </blockquote>
              <cite class="review__cite">Lily Cruz - Gerente de <i>Dolzana</i></cite>
            </div>
          </li>

          <li class="slider__item" id="slide_4">
            <div class="review">
              <blockquote class="review__body">
                Ha sido un proceso fluido y profesional de búsqueda de la excelencia en los objetivos que buscábamos, con un resultado simplemente perfecto.
              </blockquote>
              <cite class="review__cite">Alberto Cuenca - Co-Fundador de <i>Mallatic</i></cite>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="slider__controls-wrapper">
        <nav class="slider__controls-inner">
          <a class="slider__control js-slider-control active" href="#slide_1"></a>
          <a class="slider__control js-slider-control" href="#slide_2"></a>
          <a class="slider__control js-slider-control" href="#slide_3"></a>
          <a class="slider__control js-slider-control" href="#slide_4"></a>
        </nav>
      </div>
    </div>
  </div>
</section>